/* Ändere Hintergrundfarbe */
body {
  background-color: #141414;
}

/* Ändere Textfarbe */
.jellyfin-header,
.jellyfin-text {
  color: #ffffff;
}

/* Netflix-ähnlicher Hintergrund */
.jellyfin-header {
  background-color: #e50914;
}

/* Ändere Schriftart */
.jellyfin-text {
  font-family: Arial, sans-serif;
}

/* Netflix-ähnliche Schaltflächen */
.jellyfin-button {
  background-color: #e50914;
  color: #ffffff;
  border: none;
}

/* Hervorgehobene Schaltflächen */
.jellyfin-button:hover {
  background-color: #ff3d00;
}
